@using Microsoft.AspNet.Identity

	<!DOCTYPE html>
<html lang="en">
<head>
	<title>Delish Food </title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Delish Food Meals small chops fries" />

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
		  rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" />
	<!-- //Web-Fonts -->
	<!-- //for-mobile-apps -->

	<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/css/cartstyle.css" rel="stylesheet" />
	<link href="~/Content/css/css_slider.css" rel="stylesheet" />
	<link href="~/Content/css/datatables.css" rel="stylesheet" />
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/css/single.css" rel="stylesheet" />
	<link href="~/Content/css/style.css" rel="stylesheet" />




	@* @Styles.Render("~/Content/css") *@
	@* @Scripts.Render("~/bundles/modernizr") *@

</head>
<body>
	<!-- banner -->

	<header id="home">
		<!-- top-bar -->
		<div class="top-bar py-2 border-bottom">
			<div class="container">
				<div class="row middle-flex">
					<div class="col-xl-7 col-md-5 top-social-agile mb-md-0 mb-1 text-lg-left text-center">
						<div class="row">
							<div class="col-xl-3 col-6 header-top_w3layouts">
								<p class="text-da">
									<span class="fa fa-map-marker mr-2"></span>Ebute-Meta, Lagos
								</p>
							</div>
							<div class="col-xl-3 col-6 header-top_w3layouts">
								<p class="text-da">
									<span class="fa fa-phone mr-2"></span>+234 806-126-1677
								</p>
							</div>
							<div class="col-xl-6"></div>
						</div>
					</div>
					<div class="col-xl-5 col-md-7 top-social-agile text-md-right text-center pr-sm-0 mt-md-0 mt-2">
						<div class="row middle-flex">
							<div class="col-lg-5 col-4 top-w3layouts p-md-0 text-right">
								<!-- login -->
								@Html.Partial("_LoginPartial")


								<!-- //login -->
							</div>
							<div class="col-lg-7 col-8 social-grid-w3">
								<!-- social icons -->
								<ul class="top-right-info">
									<li>
										<p></p>
									</li>
									<li class="facebook-w3">
										<a href="#facebook">
											<span class="fa fa-facebook-f"></span>
										</a>
									</li>
									<li class="twitter-w3">
										<a href="#twitter">
											<span class="fa fa-twitter"></span>
										</a>
									</li>
									<li class="google-w3">
										<a href="#google">
											<span class="fa fa-instagram"></span>
										</a>
									</li>

								</ul>
								<!-- //social icons -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- //top-bar -->
		<!-- header 2 -->
		<!-- navigation -->
		<div class="main-top py-1">
			<div class="container">
				<div class="nav-content">
					<!-- logo -->
					<h1>
						<a id="logo" class="logo" href=@Url.Action("Index", "Home")>
							<img src=@Url.Content("~/Content/images/logo.png") alt="" class="img-fluid" /><span>Delish</span>
							Comfort
						</a>
					</h1>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_web-dealingsls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href=@Url.Action("Index", "Home")>Home</a></li>
								<li>
									<a href=@Url.Action("Menu", "Home") class="">Menu</a>
								</li>
								<li><a href=@Url.Action("About", "Home")>About Us</a></li>
								<li><a href=@Url.Action("Contact", "Home")>Contact Us</a></li>
								@if (Request.IsAuthenticated)
								{
									<li>
										@Html.ActionLink("View Cart", "Cart", "Order", routeValues: null, htmlAttributes: new { title = "Cart", @class = "btn btn-primary text-uppercase text-wh" })

									</li>
								}
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</div>
		<!-- //navigation -->
		<!-- //header 2 -->
	</header>
	<!-- //header -->

	@RenderBody()



	<br />
	<br />

	<!-- //Footer -->
	<!-- footer -->
	<footer class="py-5">
		<div class="container py-xl-4">
			<div class="row footer-top">
				<div class="col-lg-4 footer-grid_section_1its footer-text">
					<!-- logo -->
					<h2>
						<a class="logo text-wh" href=@Url.Action("Index", "Home")>
							<img src=@Url.Content("~/Content/images/logo.png") alt="" class="img-fluid" /><span>Tasty</span>
							Burger
						</a>
					</h2>
					<!-- //logo -->
					<p class="mt-lg-4 mt-3 mb-lg-5 mb-4">
						Sed ut perspiciatis unde omnis iste natus errorhjhsit lupt atem
						accursit lupt atem accu dfdsa ntium doloremque laudan tium accu
						santium dolore.
					</p>
					<!-- social icons -->
					<ul class="top-right-info">
						<li>
							<p>Follow As:</p>
						</li>
						<li class="facebook-w3">
							<a href="#facebbok">
								<span class="fa fa-facebook-f"></span>
							</a>
						</li>
						<li class="twitter-w3">
							<a href="#twitter">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li class="google-w3">
							<a href="#google">
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li class="dribble-w3">
							<a href="#dribble">
								<span class="fa fa-dribbble"></span>
							</a>
						</li>
					</ul>
					<!-- //social icons -->
				</div>
				<div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-text mt-4">
						<p>
							Address : 12 Ebute Meta, Lagos State, Nigeria.
						</p>
						<p class="my-2">Phone : +234 806-126-1677</p>
						<p>
							Email : <a href="mailto:info@example.com">info@example.com</a>
						</p>
					</div>
					<div class="footer-title mt-4 pt-md-2">
						<h3>Payment Method</h3>
					</div>
					<ul class="list-unstyled payment-links mt-4">
						<li>
							<a href="login.html"><img src=@Url.Content("~/Content/images/pay2.png") alt="" /></a>
						</li>
						<li>
							<a href="login.html"><img src=@Url.Content("~/Content/images/pay5.png") alt="" /></a>
						</li>
						<li>
							<a href="login.html"><img src=@Url.Content("~/Content/images/pay1.png") alt="" /></a>
						</li>
						<li>
							<a href="login.html"><img src=@Url.Content("~/Content/images/pay4.png") alt="" /></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 footer-grid_section_1its">
					<div class="footer-title">
						<h3>Make Special Request/Enquiry </h3>
					</div>
					<div class="info-form-right mt-4 p-0">
						<form action="/home/enquiry" method="post">
							@Html.AntiForgeryToken()
							<div class="row">
								<div class="col-lg-6 form-group mb-2 pr-lg-1">
									<input type="text"
										   class="form-control"
										   name="name"
										   placeholder="Your Name"
										   required />
								</div>
								<div class="col-lg-6 form-group mb-2 pl-lg-1">
									<input type="text"
										   class="form-control"
										   name="phone"
										   placeholder="Your Phone #"
										   required />
								</div>
							</div>
							<div class="form-group mb-2">
								<input type="email"
									   class="form-control"
									   name="email"
									   placeholder="Email"
									   required />
							</div>
							<div class="form-group mb-2">
								<textarea name="detail"
										  class="form-control"
										  placeholder="Request Detail"
										  required></textarea>
							</div>
							<button type="submit" class="btn submit-contact ml-auto">
								Submit
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	@section Scripts {

		<script src="~/Scripts/jquery-3.4.1.js"></script>
		<script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
		<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
		<script src="~/Scripts/jquery.validate.js"></script>
		<script src="~/Scripts/jquery.validate.min.js"></script>  
		<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
		<script src="~/Scripts/modernizr-2.8.3.js"></script>
		<script src="~/Scripts/popper-utils.js"></script>
		<script src="~/Scripts/popper.js"></script>
		<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
		<script src="~/Content/js/datatables.js"></script>
		<script src="~/Scripts/bootstrap.js"></script>

		@* @Scripts.Render("~/bundles/jqueryval") *@

		<script>
			$( document ).ready( function ()
			{
				$( '#cart' ).DataTable( {
				} );
			} );

		</script>
	}

	<!-- move top icon -->
	<a href="#home" class="move-top text-center">
		<span class="fa fa-level-up" aria-hidden="true"></span>
	</a>
	<!-- //move top icon -->

</body>
</html>