
@{
    ViewBag.Title = "Cart";
}
@model IEnumerable<DelishDB.cart>


@{
    int count = 0;
}

<!-- banner -->
<div class="main-banner-2">

</div>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile bg-light py-2">
    <ol class="breadcrumb bg-light m-0">
        <li class="breadcrumb-item">
            <a href=@Url.Action("Index", "Home")>Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
</div>

<div class="w3ls-bnrbtm py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <h3 class="w3ls-title mb-3">Your <span>Cart</span></h3>
            <p class="titile-para-text mx-auto">
                Click on Checkout to order your delicacies.
            </p>
        </div>
        <table id="cart" style="width: 100%;" class="table table-hover">
            <thead>
                <tr>
                    <th>Images</th>
                    <th>Product Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="cake-top">
                        <td style="text-align: left; vertical-align: middle;" class="cakes">
                            <div class="product-img">
                                <img width="100" src=@Url.Content($"~/Content/images/{@ViewBag.Dishdetails[count].img}")>  
                                
                            </div>
                        </td>
                        <td style="text-align: left; vertical-align: middle;" class="cake-text">
                            <div class="product-text">
                                <h3>@ViewBag.Dishdetails[count].name</h3>
                                <p>Freshly made</p>
                            </div>
                        </td>
                        <td style="text-align: left; vertical-align: middle;" class="quantity">
                            <div class="product-right">
                                <input min="1" type="number" id="quantity" name="quantity" value=@item.quantity class="form-control text-center input-small">
                            </div>
                        </td>
                        <td style="text-align: left; vertical-align: middle;" class="price">
                            <h4>@String.Format("{0:C}", @item.purchase_price)</h4>
                        </td>
                        <td style="text-align: left; vertical-align: middle;">
                            <h4>$25.98</h4>

                        </td>
                        <td style="text-align: left; vertical-align: middle;">
                           <a href=@Url.Action("RemoveFromCart", "Order", new {Cartid = @item.id})></a> <button class="btn btn-danger btn-sm text-uppercase text-wh">Remove</button>

                        </td>

                    </tr>
                    count += 1;
                }
            </tbody>
        </table>

        <div class="vocher container">
            <div class="dis-card">
                <h2>Discount Code or Voucher</h2>
                <p>Enter your discount code or voucher to receive a discount on your total order.</p>
                <form>
                    <input type="text" value="" placeholder="Enter code">
                    <input type="submit" value="Redeem">
                </form>
            </div>
            <div class="dis-total">
                <h2>Total: @String.Format("{0:C}", @ViewBag.Total)</h2>
                <div class="tot-btn">
                    <a class="shop" href=@Url.Action("Menu", "Home")>Back to Shop</a>
                    <a class="btn btn-success text-uppercase btn-lg text-wh" href="#">Checkout</a>
                </div>
            </div>
            <div class="clear"> </div>


        </div>
    </div>

</div>
<br />
<br />
<br />

